In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\varun\PycharmProjects\ssc_presentation\car_data2.csv')

In [3]:
df.dtypes

Unnamed: 0             int64
symboling              int64
normalized_losses      int64
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num-of_cylinders      object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower             int64
peak_rpm               int64
city_mpg             float64
highway_mpg            int64
price                  int64
price_binned          object
dtype: object

In [4]:
df['fuel_type'].dtype

dtype('O')

In [5]:
df.height

0      26.813344
1      26.813344
2      30.413344
3      32.313344
4      32.313344
         ...
96     32.513344
97     31.513344
98     31.313344
99     32.713344
100    32.713344
Name: height, Length: 101, dtype: float64

In [6]:
df.height.isnull().sum()

5

In [7]:
df.loc[0:20,'height']

0     26.813344
1     26.813344
2     30.413344
3     32.313344
4     32.313344
5     31.113344
6     33.713344
7     33.713344
8     33.913344
9     30.013344
10    32.313344
11    32.313344
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17    34.313344
18    31.213344
19    30.013344
20    30.013344
Name: height, dtype: float64

In [8]:
df2=df.loc[0:20,'height'].fillna(method='ffill')

In [10]:
df2

0     26.813344
1     26.813344
2     30.413344
3     32.313344
4     32.313344
5     31.113344
6     33.713344
7     33.713344
8     33.913344
9     30.013344
10    32.313344
11    32.313344
12    32.313344
13    32.313344
14    32.313344
15    32.313344
16    32.313344
17    34.313344
18    31.213344
19    30.013344
20    30.013344
Name: height, dtype: float64